@import "base/variables";
@import "base/mixins";

@import "libs/normalize";

@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/contacts";
@import "blocks/titles";
@import "blocks/advantages";
@import "blocks/reasons";
@import "blocks/agent";
@import "blocks/hamburger";
@import "blocks/prices";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/manager";
@import "blocks/scheme";
@import "blocks/reviews";
@import "blocks/carousel";
@import "blocks/media";

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 991px){
    .container{
        max-width: 720px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: 540px;
    }
}

@media (max-width: 575px){
    .container{
        max-width: auto;
    }
}