.button {
    width: 160px;
    height: 45px;
    margin-left: 20px;
    background-color: $main-color;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    &:hover {
        box-shadow: 0 0 20px $main-color;
        transition: all 0.5s;
    }
    &_main {
        display: block;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 500;
        margin: 39px auto 0 auto;
    }
    &_price {
        display: block;
        font-size: 12px;
        font-weight: 400;
        margin: 25px auto 25px auto;
    }
    &_price-back {
        margin: 10px auto 10px auto;
    }
    &_form {
        display: block;
        width: 180px;
        margin: 0 auto;
        margin-top: 10px;
    }
    &_modal-form {
        display: block;
        min-height: 40px;
        margin: 30px auto 0 auto;
    }
}