.contacts{
    display: flex;
    &__wrapper{
        span {
            color: #ffffff;
            font-size: 14px;
        }
        display: flex;
        flex-direction: column;
        color: #ffffff;
        font-weight: 300;
        line-height: 24px;
        text-align: right;
        a {
            color: #fff;
            font-size: 19px;
            font-weight: 700;
            text-decoration: none;
        }
    }
}