.feed-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 166px;
    border: 1px solid #898989;
    input {
        padding: 18px 28px 18px 28px;
        width: 268px;
        height: 45px;
        border: 1px solid rgba(0, 0, 0, 0.21);
        border-radius: 50px;
        margin: 0 3px 0 3px;
        color: #101010;
        font-size: 13px;
        font-weight: 300;
        margin-top: 10px;
        outline: none;
    }
    &_textarea {
        flex-wrap: wrap;
        border: none;
        margin: 0 auto;
        margin-top: -10px;
        textarea {
            resize: none;
            width: 815px;
            height: 70px;
            padding: 18px 25px 18px 25px;
            border: 1px solid rgba(0, 0, 0, 0.21);
            border-radius: 10px;
            margin: 0 3px 0 3px;
            color: #101010;
            font-size: 13px;
            font-weight: 300;
            outline: none;
            background-color: #fff;
            margin-top: -30px;
        }
        input {
            width: 268px;
            background-color: #fff;
        }
    }
}