$mainFont: 'Candal', sans-serif;
$anim_time: 1s;

.curtain {
  display: none;
  position: fixed;
  width: 130px;
  height: 130px;
  top: -40px;
  right: -40px;
  background-color: rgba($color: #000000, $alpha: .5);
  border-radius: 100%;
  z-index: 10000000;
}

//OPEN

@keyframes topBar_open {
  0% { transform: translateY(-17px) rotate(0deg) ; width: 20px; }
  10% {transform: translateY(-27px) rotate(0deg); width: 20px; }
  50% {transform: translateY(2px) translateX(2px) rotate(45deg); width: 44px; }
  75% {transform: translateY(-9px) translateX(4px) rotate(45deg); width: 44px; }
  100% {transform: translateY(-5px) translateX(6px) rotate(45deg); width: 44px; }
}

@keyframes bottomBar_open {
  0% { transform: translateY(-8px) rotate(0deg) ; width: 20px; }
  10% { transform: translateY(-16px) rotate(0deg) ; width: 20px; }
  60% {transform: translateY(-8px) translateX(-2px) rotate(-45deg); width: 44px; }
  75% {transform: translateY(-18px) translateX(-4px) rotate(-45deg); width: 44px; }
  100% {transform: translateY(-16px) translateX(-7px) rotate(-45deg); width: 44px; }
}

@keyframes menuLabel_open {
  0% { transform: translateY(0px); opacity: 1; }
  25% {transform: translateY(-18px); }
  45% {transform: translateY(44px); opacity: 1; }
  48% {transform: translateY(50px); opacity: 0; }
  100% {transform: translateY(30px); opacity: 0; }
}

// CLOSE


@keyframes topBar_close {
  0% {transform: translateY(17px) rotate(45deg); width: 74px; }
  35% {transform: translateY(-8px) rotate(-4deg); width: 50px; }
  53% {transform: translateY(10px) rotate(3deg); width: 50px; }
  70% {transform: translateY(-6px) rotate(0deg); width: 50px; }
  100% { transform: translateY(-2px) rotate(0deg) ; width: 50px; }
}

@keyframes bottomBar_close {
  0% {transform: translateY(-8px) rotate(-45deg); width: 74px; }
  35% {transform: translateY(-18px) rotate(6deg); width: 50px; }
  53% {transform: translateY(0px) rotate(-3deg); width: 50px; }
  68% { transform: translateY(-7px) rotate(0deg) ; width: 50px; }
  100% { transform: translateY(0px) rotate(0deg) ; width: 50px; }
}

@keyframes menuLabel_close {
  0% {transform: translateY(30px); opacity: 0; }
  5% {transform: translateY(25px); opacity: 1; }
  25% {transform: translateY(-30px); opacity: 1; }
  37% {transform: translateY(-22px); opacity: 1; }
  45% {transform: translateY(-22px); opacity: 1; }
  58% {transform: translateY(8px) rotate(-10deg); opacity: 1; }
  83% {transform: translateY(-6px) rotate(0deg); opacity: 1; }
  100% { transform: translateY(0px); opacity: 1; }
}

.hamburger {
  display: none;
  position: absolute;
  top: 45%;
  right: 40%;
  text-align: center;
  width: 50px;
  height: 42px;
  z-index: 100000;
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 7px;
    background-color: $main-color;
    display: block;
    position: absolute;
    border-radius: 20px;
  }
  
  &:before {
     transform-origin: left center;
    
  }
  
  &:after {
    left: 0;
    top: 12px;
    transform-origin: right center;
  }
  
  .text {
    color: #fff;
    font-family: $mainFont;
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &.open {    
    &:before {
      animation: topBar_open $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
    
    &:after {
      animation: bottomBar_open $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
    
    .text {
      animation: menuLabel_open $anim_time ease-in;
      animation-fill-mode: forwards;
    }
    
  }
  
  &.close {    
    &:before {
      animation: topBar_close $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
    
    &:after {
      animation: bottomBar_close $anim_time ease-in-out;
      animation-fill-mode: forwards;
    }
    
    .text {
      animation: menuLabel_close $anim_time ease-in;
      animation-fill-mode: forwards;
    }
    
  }
}